thirdparty
helper
kernel-source
.vscode/*
bpftools/__pycache__/
*.pyc
*.pyo
__pycache__/
tmp/*
bcc-program/*
test/workflow/result/*
*.log
*.pcap
docs/publish/pptx/node_modules/
packaging/rpm/output
*.DS_Store
